<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListData</servlet-name>
        <servlet-class>ListData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInProcess</servlet-name>
        <servlet-class>LogInProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertEdu</servlet-name>
        <servlet-class>insertEdu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>string</servlet-name>
        <servlet-class>string</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListData</servlet-name>
        <url-pattern>/ListData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInProcess</servlet-name>
        <url-pattern>/LogInProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertEdu</servlet-name>
        <url-pattern>/insertEdu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>string</servlet-name>
        <url-pattern>/string</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
